<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean name="studentRepository" class="lk.codelabs.sms.repository.StudentRepositoryImpl">
</bean>


<bean name="studentService" class="lk.codelab.sms.service.StudentServiceImpl">
<property name="repository" ref="studentRepository"></property>

</bean>
</beans>
